// Setting up some variables and mixins as a quick way to adjust cards
// since some of the same properties need to be used in both the front
// and back end of the site. Declaring them once at the top allows us
// to use them multiple times throughout our code. Then, when we
// need to make adjustments, we can simply adjust the variables and mixins.

// Creating two variables to control the size of individual cards
$small-card: calc(1 / 3 * 100%); // 360px
$big-card: 460px;

.wp-block {
    // Targeting the top most wrapper for out blocks
    &[data-type="mightily/cards"] {
        // Overriding Gutenberg max-width
        max-width: none;

        // Adjusting the UI based on when blocks are selected
        &.is-selected,
        &.has-child-selected {
            .block-editor-block-list__layout {
                &:nth-of-type(1) {
                    padding-bottom: 100px;
                    > .block-list-appender {
                        display: block;
                    }
                }
            }
        }

        // Adjusting the position of the UI
        .block-list-appender {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        // This is a dirty way to override a style but this will prevent us from
        // having to wrap all of our main styles in a special front-end class
        .row {
            display: block !important;
        }

        .block-editor-block-list__layout {
            &:first-of-type {
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: repeat(auto-fit, minmax(340px, 1fr));
                grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
                justify-items: center;
            }
            > .wp-block {
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }
            .card {
                height: 100%;
            }
        }

        .block.cards.style-1 {
            // Style 1 will only need to override the size of the grid
            .block-editor-block-list__layout {
                &:first-of-type {
                    @include three-col();
                }
            }
            
        }

        .block.cards.style-2 {
            .wrapper {
                @include wrapper(60px);
            }
            // Style 2 will only need to override the size of the grid
            .block-editor-block-list__layout {
                &:first-of-type {
                    @include two-col-new();
                }
                > .wp-block {
                    &:nth-of-type(4n),
                    &:nth-of-type(4n + 1) {
                        background-color: $blue;
                    }
                    &:nth-of-type(odd) {
                        background-color: $blue;
                    }
                }
                .card {
                    width: 100%;
                    min-width: 100%;
                    max-width: none;
                    &:first-child,
                    .wp-block {
                        background: none;
                    }
                    .wp-block {
                        width: 100%;
                        margin: 0;
                        flex: 1 0 100%;
                    }
                }
            }
        }
    }
}

.layout.cards,
.block.cards {
    @include disableLists();

    // Creating shared styles for both the frontend and backend card wrappers
    .row {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }

    // There appears to be a .card the Wordpress is applying some styles to
    // I'm defining properties below to override those styles such as
    // background, box-shadow, etc, etc...
    .card {
        width: 100%;
        max-width: 360px;
        padding: 20px;
        margin: 0 0 $base-spacing;
        border: none;
        box-shadow: none;
        background: transparent;
        // Use display flex to align card buttons at bottom of card
        display: flex;
        flex-flow: column wrap;
        // Remove space below images
        img {
            display: block;
            margin-bottom: 0;
        }
        // Fix for IE bug where content doesn't wrap inside flex
        .title,
        p,
        .buttons {
            width: 100%;
        }
        p,
        .excerpt {
            margin-bottom: 0;
        }
        // Align buttons at bottom of card
        .buttons {
            margin-top: auto;
            .btn,
            .wp-block-button__link {
                @include btn-1();
                margin-bottom: 0;
            }
        }
    }

    &.style-1 {
        .row {
            @include flex('space-evenly');
        }
        .card {
            width: 100%;
            max-width: 360px;
            flex: 0 0 360px;
            padding: 0;
            border: $base-border;
            .wp-block-logo,
            .wp-block-image {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
            }
            .wp-block-logo {
                height: 200px;
            }
            .wp-block-image {
                height: 240px;
            }
            .content {
                padding: 30px;
            }
            .title {
                @extend .h5;
                margin-bottom: 20px;
            }
            .buttons {
                justify-content: center;
                .wp-block-button {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.style-2 {
        // Style 2 will only need to override the size of the grid
        .row {
            @include flex();
            @media ($menu) {
                justify-content: flex-start;
                border: $base-border;
            }
        }
        .card {
            @include two-col();
            max-width: none;
            text-align: center;
            @media ($menu) {
                margin: 0;
                padding: $large-spacing;
                text-align: left;
            }
            &:nth-child(even) {
                .title {
                    color: $orange;
                }
            }
            &:nth-child(odd) {
                background: linear-gradient(290.45deg, #3469B3 0%, #72CFF2 100%);
                color: $white;
                @media ($menu) {
                    order: 1;
                }
            }
            .title {
                @extend .h3;
            }
            .buttons {
                @media ($mobile-only) {
                    justify-content: center;
                }
            }
        }
    }

    &.style-3 {
        .row {
            @include flex('space-evenly');
        }
        .card {
            width: 100%;
            max-width: 540px;
            flex: 0 0 540px;
            padding: 0;
            border: $base-border;
            .wp-block-logo,
            .wp-block-image {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
            }
            .wp-block-logo {
                height: 300px;
            }
            .content {
                padding: 30px;
            }
            .title {
                @extend .h5;
                margin-bottom: 20px;
            }
            .buttons {
                justify-content: center;
            }
        }
    }
}