$_form-background-color: #fff;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($base-border-color, 0.7);

.front-end {
  form {
    max-width: 900px;
    margin: 0 auto;
    padding: $base-spacing;
    font-family: $font-one;
    color: $base-font-color;
    background: linear-gradient(290.44989099381087deg, #6B6B6B 0%, #9D9D9D 100%);
  }
  
  fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
  }
  
  label {
    display: block;
    color: $white;
    font-weight: $base-font-weight;
    margin-bottom: $small-spacing / 2;
  }
  
  input,
  select,
  textarea {
    display: block;
    // font-family: $base-font-family;
    font-size: 16px;
  }
  
  #{$all-text-inputs} {
    width: 100%;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    
    color: inherit;
    background-color: $_form-background-color;
    border: $_form-background-color;
    border-radius: $base-border-radius;
    box-shadow: $_form-box-shadow;
    box-sizing: border-box;
    appearance: none;
    transition: border-color $base-duration $base-timing;
    &:hover {
      border-color: shade($base-border-color, 20%);
    }
    &:focus {
      border-color: $base-border-color;
      box-shadow: $_form-box-shadow-focus;
      outline: none;
    }
    &:disabled {
      background-color: shade($_form-background-color, 5%);
      cursor: not-allowed;
      &:hover {
        border: $base-border;
      }
    }
    &::placeholder {
      color: tint($base-font-color, 60%);
    }
  }

  [type="range"] {
    margin-bottom: $small-spacing;
  }
  
  textarea {
    resize: vertical;
  }
  
  [type="checkbox"],
  [type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
  }
  
  [type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
  }
  
  select {
    margin-bottom: $small-spacing;
    // width: 100%;
  }
  
  [type="checkbox"],
  [type="radio"],
  [type="file"],
  select {
    &:focus {
      border-color: $base-border-color;
      box-shadow: $_form-box-shadow-focus;
      outline: none;
    }
  }
  
  input[type="search"] {
    box-sizing: border-box;
  }

  form input[type="submit"] {
    position: relative;
    display: block;
    min-width: 120px;
    margin: 0 auto 15px;
    padding: 6px 16px 8px;
  
    font-family: $font-one;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
  
    color: $btn-text-color;
    background-color: $btn-bg-color;
    border: $base-border;
    border-radius: $btn-border-radius;
  
    transition: all $base-duration $base-timing;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    appearance: none;
    box-sizing: content-box;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $btn-text-color;
      color: $btn-text-color-hover;
      outline: none;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

// Gravity Forms
.front-end .gform_wrapper {
  // Resets
  span.gform_description {
    width: 100%;
  }
  img.gform_ajax_spinner {
    display: none !important;
  }
  .gform_footer {
    padding-top: 15px;
    text-align: center;
  }
  .top_label div.ginput_container {
    margin-top: 0;
  }
  .gfield_required {
    color: $base-font-color;
  }
  .field_description_below .gfield_description {
    padding-top: 6px;
  }
  input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    padding: 0.65em 0.8em 0.6em;
  }
  .gform_footer input.button, 
  .gform_page_footer input.button, 
  .gform_footer input[type=submit], 
  .gform_page_footer input[type=submit] {
    font-size: 24px;
  }
  // End Resets

  // Error Styling
  div.validation_error {
    color: $error-color;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
    border-top: 2px solid $error-color;
    border-bottom: 2px solid $error-color;
    padding: 16px 0 16px 0;
    clear: both;
    width: 100%;
    text-align: center;
  }
  .validation_message {
    color: $error-color;
    font-weight: 700;
    font-style: italic;
    letter-spacing: normal;
  }
  .gfield_error .gfield_label {
    color: $error-color;
  }
  li.gfield.gfield_error, 
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    border: none;
    background: none;
  }
  li.gfield_error input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
  li.gfield_error textarea {
    border: 2px solid $error-color;
  }
  &.gform_validation_error {
    padding-top: 20px;
  }
  &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    @media only screen and (min-width: 641px) {
      max-width: 100% !important;
    }
  }
  // End Error Styling
}