@mixin disableLists() {
    ul,
    ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
        li:before {
            content: none;
        }
    }
}

@mixin circle($wLarge, $hLarge, $wSmall, $hSmall) {
    content: '';
    width: $wLarge;
    height: $hLarge;
    display: block;
    border-radius: 100%;
    @media ($tablet) {
        width: $wSmall;
        height: $hSmall
    }
}

// Triangle helper mixin
// Ref: https://css-tricks.com/snippets/sass/css-triangle-mixin/
// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
// @param {Color} $color [currentcolor] - Triangle color 
// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
    @if not index(top right bottom left, $direction) {
        @error 'Direction must be either top, right, bottom or left.';
    }

    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    transform: scale(1.01);
    font-size: 0;

    $perpendicular-borders: $size / 2 solid transparent;

    @if $direction == top {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
        border-bottom: $size solid $color;
    } @else if $direction == bottom {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
        border-top: $size solid $color;
    } @else if $direction == right {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
        border-left: $size solid $color;
    } @else if $direction == left {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
        border-right: $size solid $color;
    }
}