@mixin position ($position: relative, $coordinates: 0 0 0 0) {
    @if type-of($position) == list {
        $coordinates: $position;
        $position: relative;
    }

    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);

    position: $position;

    @if $top == auto {
        top: $top;
    }
    @else if not(unitless($top)) {
        top: $top;
    }
    @if $right == auto {
        right: $right;
    }
    @else if not(unitless($right)) {
        right: $right;
    }
    @if $bottom == auto {
        bottom: $bottom;
    }
    @else if not(unitless($bottom)) {
        bottom: $bottom;
    }
    @if $left == auto {
        left: $left;
    }
    @else if not(unitless($left)) {
        left: $left;
    }
}


// Hero Image Position
.desktop-center {
    @media ($menu) {
        background-position: center;
    }
}
.mobile-center-right {
    @media ($mobile-only) {
        background-position: center right;
    }
}

// Classes for background image alignment
$alignment: 
    // x     y
    center top, 
    center center,
    center bottom,
    left top, 
    left center,
    left bottom,
    right top, 
    right center,
    right bottom;

@each $x, $y in $alignment {
	.desktop-#{$x}-#{$y} {
        @media ($menu) {
            background-position: $x $y;
        }
    }
    .mobile-#{$x}-#{$y} {
        @media ($mobile-only) {
            background-position: $x $y;
        }
    }
}