<section class="wp-block-mightily-intro block intro">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h2">Accordions</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="accordions" class="block accordions" data-menutitle="Accordions - List">
	<div class="wrapper">
		<details class="accordion" open>
			<summary class="title">Accordion Title</summary>
			<div class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor similique tenetur,
					ducimus sapiente possimus. Ut quos incidunt debitis accusantium temporibus perferendis,
					consectetur voluptatum esse illum doloribus
					est atque rem soluta
					sequi nostrum accusamus consequuntur tempore unde illo adipisci. Rerum, eum illo, facere
					est aperiam, quam molestiae dolorum explicabo libero sunt alias perspiciatis earum
					sequi. Soluta est, doloribus ipsum
					dignissimos maxime animi quae
					porro suscipit molestias optio, vero cum asperiores totam officia quia tenetur ipsam ad
					sed reprehenderit delectus minima quidem ratione labore. Mollitia, laboriosam voluptate
					quasi veritatis cum. Voluptas, cum
					modi odio, dicta ducimus
					veniam possimus facilis dolorum incidunt repellendus nemo accusantium iste voluptatum
					dolor non illo officia id, perferendis, odit nisi tenetur aliquid! Eligendi voluptatum,
					rem dolore ducimus doloribus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima exercitationem esse
					repellendus accusantium adipisci consequatur, natus eum expedita distinctio nihil porro
					in ut, commodi, omnis saepe dolorem
					officia illo atque quae
					mollitia magnam quas dignissimos! Consequuntur ut, impedit similique, eius nobis
					facilis? Rerum, tempora blanditiis quo ad at. Pariatur dolorem impedit repellat expedita
					quidem sunt modi ad veritatis, placeat
					beatae fuga quod nemo harum
					inventore laudantium ducimus ipsam ipsum asperiores deleniti cum quasi nam! Vel
					quibusdam porro error laborum quas numquam inventore velit illo, magnam delectus beatae
					facilis dicta cum iste aperiam. Repudiandae
					amet, aspernatur ex.
					Voluptates, alias! Et fugiat recusandae quos excepturi incidunt eaque placeat id, ipsa
					eveniet consectetur unde maiores dolorum officiis esse ratione, omnis cumque! Vitae amet
					incidunt ea architecto fugiat
					reiciendis nisi, quae autem veniam
					quasi aspernatur, dignissimos perspiciatis natus, corporis fugit aut reprehenderit
					atque. Ea tempora voluptatibus quidem iure magnam, doloremque. Dicta laborum atque
					aliquid alias, eligendi voluptates assumenda, at
					quas sint repellendus,
					nobis nam vitae velit fugiat maiores, incidunt error itaque quod dolorem minima optio
					blanditiis mollitia! Beatae quam dignissimos vitae recusandae accusantium maxime iure,
					esse iusto totam. Ipsam animi, dolore
					quae! Perspiciatis
					voluptatibus nemo voluptas repellendus odit ipsa quia dicta inventore eligendi dolore
					animi, fuga deleniti accusantium cumque voluptatum nihil porro! Vitae omnis labore
					commodi eius cupiditate perferendis quaerat
					sunt molestiae dignissimos
					blanditiis.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
				</ul>
				<div class="buttons">
					<a href="#" target="_self" class="btn">Button TItle</a>
					<a href="#" target="_self" class="btn">Button TItle</a>
				</div>
			</div>
		</details>
		<details class="accordion" open>
			<summary class="title">Accordion Title</summary>
			<div class="content">
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</details>
		<details class="accordion" open>
			<summary class="title">Accordion Title</summary>
			<div class="content">
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</details>
    </div>
</section>

<!-- The accordion below gets an option for a background color and an intro that is inside of the background color. -->
<section id="accordions-bg" class="block accordions bg" style="background-color: #F5F5F5;" data-menutitle="Accordions - List">
	<div class="intro">
		<div class="wrapper">
			<div class="row">
				<div class="col">
					<div class="content">
						<h2 class="title"><span class="h2">Accordions</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<details class="accordion" open>
			<summary class="title">Accordion Title</summary>
			<div class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor similique tenetur,
					ducimus sapiente possimus. Ut quos incidunt debitis accusantium temporibus perferendis,
					consectetur voluptatum esse illum doloribus
					est atque rem soluta
					sequi nostrum accusamus consequuntur tempore unde illo adipisci. Rerum, eum illo, facere
					est aperiam, quam molestiae dolorum explicabo libero sunt alias perspiciatis earum
					sequi. Soluta est, doloribus ipsum
					dignissimos maxime animi quae
					porro suscipit molestias optio, vero cum asperiores totam officia quia tenetur ipsam ad
					sed reprehenderit delectus minima quidem ratione labore. Mollitia, laboriosam voluptate
					quasi veritatis cum. Voluptas, cum
					modi odio, dicta ducimus
					veniam possimus facilis dolorum incidunt repellendus nemo accusantium iste voluptatum
					dolor non illo officia id, perferendis, odit nisi tenetur aliquid! Eligendi voluptatum,
					rem dolore ducimus doloribus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima exercitationem esse
					repellendus accusantium adipisci consequatur, natus eum expedita distinctio nihil porro
					in ut, commodi, omnis saepe dolorem
					officia illo atque quae
					mollitia magnam quas dignissimos! Consequuntur ut, impedit similique, eius nobis
					facilis? Rerum, tempora blanditiis quo ad at. Pariatur dolorem impedit repellat expedita
					quidem sunt modi ad veritatis, placeat
					beatae fuga quod nemo harum
					inventore laudantium ducimus ipsam ipsum asperiores deleniti cum quasi nam! Vel
					quibusdam porro error laborum quas numquam inventore velit illo, magnam delectus beatae
					facilis dicta cum iste aperiam. Repudiandae
					amet, aspernatur ex.
					Voluptates, alias! Et fugiat recusandae quos excepturi incidunt eaque placeat id, ipsa
					eveniet consectetur unde maiores dolorum officiis esse ratione, omnis cumque! Vitae amet
					incidunt ea architecto fugiat
					reiciendis nisi, quae autem veniam
					quasi aspernatur, dignissimos perspiciatis natus, corporis fugit aut reprehenderit
					atque. Ea tempora voluptatibus quidem iure magnam, doloremque. Dicta laborum atque
					aliquid alias, eligendi voluptates assumenda, at
					quas sint repellendus,
					nobis nam vitae velit fugiat maiores, incidunt error itaque quod dolorem minima optio
					blanditiis mollitia! Beatae quam dignissimos vitae recusandae accusantium maxime iure,
					esse iusto totam. Ipsam animi, dolore
					quae! Perspiciatis
					voluptatibus nemo voluptas repellendus odit ipsa quia dicta inventore eligendi dolore
					animi, fuga deleniti accusantium cumque voluptatum nihil porro! Vitae omnis labore
					commodi eius cupiditate perferendis quaerat
					sunt molestiae dignissimos
					blanditiis.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, similique</li>
				</ul>
				<div class="buttons">
					<a href="#" target="_self" class="btn">Button TItle</a>
					<a href="#" target="_self" class="btn">Button TItle</a>
				</div>
			</div>
		</details>
		<details class="accordion" open>
			<summary class="title">Accordion Title</summary>
			<div class="content">
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</details>
		<details class="accordion" open>
			<summary class="title">Accordion Title</summary>
			<div class="content">
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</details>
    </div>
</section>