<section class="wp-block-mightily-intro block intro">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h2">Cards - Style 1</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cards-style-1" class="block cards style-1" data-menutitle="Cards - Style 1">
	<div class="wrapper">
		<div class="row">
			<div class="card">
				@include('card-item.html')
			</div>
			<div class="card">
				@include('card-item.html')
			</div>
			<div class="card">
				@include('card-item.html')
			</div>
		</div>
	</div>
</section>

<section class="wp-block-mightily-intro block intro">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h2">Cards - Style 2</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cards-style-2" class="block cards style-2" data-menutitle="Cards - Style 2">
	<div class="wrapper">
		<div class="row">
			<div class="card">
				<h2 class="title">Card Title Here</h2>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
				@include('../component/buttons.html')
			</div>
			<div class="card">
				<h2 class="title">Parturient Lorem Nibh Ligula Vestibulum Mollis Venenatis</h2>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
				@include('../component/buttons.html')
			</div>
		</div>
	</div>
</section>

<section class="wp-block-mightily-intro block intro">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h2">Cards - Style 3</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cards-style-3" class="block cards style-3" data-menutitle="Cards - Style 3">
	<div class="wrapper">
		<div class="row">
			<div class="card">
				@include('card-3-item.html')
			</div>
			<div class="card">
				@include('card-3-item.html')
			</div>
		</div>
	</div>
</section>