<div class="wp-block-logo" style="background-image: url('https://via.placeholder.com/400x300');">
	<img src="https://via.placeholder.com/400x300" class="visually-hidden" alt="Image alt text">
</div>
<!-- <figure class="wp-block-image" style="background-image: url('https://via.placeholder.com/400x240');">
	<img src="https://via.placeholder.com/400x240" class="visually-hidden" alt="Image alt text">
</figure> -->
<div class="content">
	<!-- <h2 class="title">Card Title</h2> -->
	<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	<ul>
		<li>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
		<li>Cras mattis consectetur purus sit amet fermentum.</li>
	</ul>
	@include('../component/buttons.html')
</div>