<section class="block cta" data-midnight="white">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title">Careers</h2>
                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <div class="buttons">
                        <div class="wp-block-button alignleft">
                            <a class="wp-block-button__link" href="javascript:void(0)">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>