<section class="block hero style-2">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h1">Bigger</span><br><span class="h3" style="color: #ee3d24; display: block; margin-top: -10px;">Together.</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>
						@include('../component/buttons.html')
                </div>
            </div>
            <div class="col">
                <div class="image">
                    <!-- The div below is only used for my style guide.
                    This is where the Lottie shortcode needs to go. -->
                    <div id="lottie-home" class="wpbdmv-animation"></div>
                </div>
            </div>
        </div>
    </div>
</section>