<section id="hero-style-4-right" class="layout hero style-4 content-right" data-menutitle="Hero - Style 4 Content Right">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="image" style="background-image: url('https://via.placeholder.com/600x400.png');">
					<img class="visually-hidden" src="https://via.placeholder.com/600x400.png" alt="">
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h2>Hero Style 4 - Content Right</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					@include('../component/buttons.html')
				</div>
			</div>
		</div>
	</div>
</section>