<section id="hero-style-1-A" class="layout hero style-1" data-midnight="white" data-menutitle="Hero - Style 1 A">
	<div class="image desktop-center-center mobile-right-center" style="background-image: url('/assets/img/hero-about.png');">
		<img class="visually-hidden" src="/assets/img/hero-about.png" alt="">
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h2 class="title h1">Ximer Suite is so powerful, it has an origin story.</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="hero-style-1-B" class="layout hero style-1" data-midnight="white" data-menutitle="Hero - Style 1 B">
	<div class="image desktop-center-center mobile-right-center" style="background-image: url('/assets/img/hero-about.png');">
		<img class="visually-hidden" src="/assets/img/hero-about.png" alt="">
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h2 class="title h1">Ximer Suite is so powerful, it has an origin story.</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-svg">
		<!-- An svg can be uploaded here -->
		<?xml version="1.0" encoding="utf-8"?>
		<!-- Generator: Adobe Illustrator 24.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 100.4 100.1" style="enable-background:new 0 0 100.4 100.1;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#FFFFFF;}
			.st1{fill:url(#SVGID_1_);}
			.st2{fill:url(#SVGID_2_);}
		</style>
		<circle class="st0" cx="50.2" cy="49.9" r="49.3"/>
		<g>
			<g id="Layer_1_37_">
				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="53.6713" y1="40.0776" x2="59.9363" y2="35.6026">
					<stop  offset="0" style="stop-color:#F26324"/>
					<stop  offset="1" style="stop-color:#F38621"/>
				</linearGradient>
				<polygon class="st1" points="58.8,50 78,21.4 60.8,21.4 50.2,37.2 		"/>
				
					<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="79.7202" y1="-0.9069" x2="21.5598" y2="62.1917" gradientTransform="matrix(1 0 0 -1 0 102)">
					<stop  offset="0" style="stop-color:#F26324"/>
					<stop  offset="1" style="stop-color:#F38621"/>
				</linearGradient>
				<polygon class="st2" points="62.6,55.6 62.6,55.6 46.3,31.4 46.3,31.4 39.6,21.4 39.5,21.4 22.4,21.4 22.4,35.4 31.8,35.4 
					41.6,50 22.4,78.7 39.6,78.7 50.2,62.8 60.8,78.7 61,78.7 78,78.7 78,64.7 68.7,64.7 		"/>
			</g>
		</g>
		</svg>
			</div>
</section>

<section id="hero-style-1-C" class="layout hero style-1" data-midnight="white" data-menutitle="Hero - Style 1 C">
	<div class="image desktop-center-center mobile-right-center" style="background-image: url('/assets/img/hero-about.png');">
		<img class="visually-hidden" src="/assets/img/hero-about.png" alt="">
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<div class="content-image">
						<!-- An svg can be uploaded here -->
						<?xml version="1.0" encoding="utf-8"?>
						<!-- Generator: Adobe Illustrator 24.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 100.4 100.1" style="enable-background:new 0 0 100.4 100.1;" xml:space="preserve">
						<style type="text/css">
							.st0{fill:#FFFFFF;}
							.st1{fill:url(#SVGID_1_);}
							.st2{fill:url(#SVGID_2_);}
						</style>
						<circle class="st0" cx="50.2" cy="49.9" r="49.3"/>
						<g>
							<g id="Layer_1_37_">
								<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="53.6713" y1="40.0776" x2="59.9363" y2="35.6026">
									<stop  offset="0" style="stop-color:#F26324"/>
									<stop  offset="1" style="stop-color:#F38621"/>
								</linearGradient>
								<polygon class="st1" points="58.8,50 78,21.4 60.8,21.4 50.2,37.2 		"/>
								
									<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="79.7202" y1="-0.9069" x2="21.5598" y2="62.1917" gradientTransform="matrix(1 0 0 -1 0 102)">
									<stop  offset="0" style="stop-color:#F26324"/>
									<stop  offset="1" style="stop-color:#F38621"/>
								</linearGradient>
								<polygon class="st2" points="62.6,55.6 62.6,55.6 46.3,31.4 46.3,31.4 39.6,21.4 39.5,21.4 22.4,21.4 22.4,35.4 31.8,35.4 
									41.6,50 22.4,78.7 39.6,78.7 50.2,62.8 60.8,78.7 61,78.7 78,78.7 78,64.7 68.7,64.7 		"/>
							</g>
						</g>
						</svg>
					</div>
					<h2 class="title h1">Ximer Suite is so powerful, it has an origin story.</h2>
				</div>
			</div>
		</div>
	</div>
</section>