<!-- if the intro layout has an animation, add the .animation class to the section tag -->
<section class="wp-block-mightily-intro block intro">
    <div class="wrapper">
        <div class="row">
            <!-- <div class="col">
                <div class="image"> -->
                    <!-- If animation, print the lottie shortcode here
                    The div below is for static use only
                    <div id="lottie-services"></div> -->
                <!-- </div>
            </div> -->
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h2">Intro Block</span></h2>
                    <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.</p>
                    <div class="buttons">
                        <div class="wp-block-button">
                            <a class="wp-block-button__link">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>