<figure class="wp-block-image">
	<img src="https://via.placeholder.com/400x280" alt="Image description" sizes="(max-width: 1024px) 100vw, 1024px">
</figure>
<div class="text">
	<p class="category">Category</p>
	<p class="author">Author Name Here</p>
	<h3 class="title">
		<a class="link" href="#" target="_self">Card Title</a>
	</h3>
	<p class="excerpt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod.</p>
</div>