<section class="wp-block-mightily-intro block intro">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h2">Testimonial Slider</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
    Note: 
    Add the .has-image class if an image is added below the testimonials
-->
<section id="testimonial-slider" class="block testimonial slider bg-blue has-image" data-midnight="white">
    <div class="wrapper">
        <div class="row">
            <!-- 
                Note:
                The following slider settings should be default 
            -->
            <div class="items" data-slick='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "arrows": true,
                "dots": true,
                "adaptiveHeight": true,
                "autoplay": false,
                "infinite": true,
                "responsive": [{"breakpoint": 839, "settings": {"dots": false}}]
            }'>
                <div class="item">
                    <blockquote>
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.”</p>
                        <cite>
                            <p class="title">Name Here, Job Title, Company Name</p>
                        </cite>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <cite>
                            <p class="title">Name Here, Job Title, Company Name</p>
                        </cite>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.”</p>
                        <cite>
                            <p class="title">Name Here, Job Title, Company Name</p>
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row full-width">
            <div class="col image" style="background-image: url('https://via.placeholder.com/1200x600.png')">
                <img src="https://via.placeholder.com/1200x600.png" class="visually-hidden" alt="Image alt tag">
            </div>
        </div>
    </div>
</section>


<section class="wp-block-mightily-intro block intro">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2 class="title"><span class="h2">Testimonial Slider w/o Image</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
    Note: 
    Add the .has-image class if an image is added below the testimonials
-->
<section id="testimonial-slider" class="block testimonial slider bg-blue" data-midnight="white">
    <div class="wrapper">
        <div class="row">
            <!-- 
                Note:
                The following slider settings should be default 
            -->
            <div class="items" data-slick='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "arrows": true,
                "dots": true,
                "adaptiveHeight": true,
                "autoplay": false,
                "infinite": true,
                "responsive": [{"breakpoint": 839, "settings": {"dots": false}}]
            }'>
                <div class="item">
                    <blockquote>
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.”</p>
                        <cite>
                            <p class="title">Name Here, Job Title, Company Name</p>
                        </cite>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <cite>
                            <p class="title">Name Here, Job Title, Company Name</p>
                        </cite>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.”</p>
                        <cite>
                            <p class="title">Name Here, Job Title, Company Name</p>
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>